* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    grid-area: navegacion;
    display: grid;
    padding: 10px 10px;
    border: solid black 2px;
    background-color: darkblue;
    color: white;
}

aside ul {
    display: none;
}

.as-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.as-nav h2 {
    margin-right: 160px;
}

menu {
    grid-area: ftr;
    display:grid;
    border: solid yellow 5px;
}

.ftr__busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 80px;
}

.ftr__busqueda__filtro {
    width: 100%;
    height: 30px;
    justify-content: space-around;
}

main {
    grid-area: productos;
    display: grid;
    padding: 25px 40px;
    display: grid;
}

.productos__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    border: solid lightgray 1px;
    border-radius: 1%;
}

.productos__producto img {
    width: 85%;
    margin-bottom: 15px;
}

.productos__producto p {
    margin-bottom: 5px;
}

.btn {
    height: 35px;
    width: 75px;
    background-color: #1a0a9a;
    color: white;
    border:none;
    border-radius: 8%;

}
.btn:hover {
    transition: .5s;
    background-color: #0b0349;
}

footer {
    grid-area: pie;
    display: grid;
    background-color: darkblue;
    color: white;
}
.pie {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pie__ico {
    font-size: 20px;
}
@media (min-width: 576px) {
/* USAR BIEN GRID TEMPLATES AREAS */
    body {
        grid-template-areas:
        "navegacion ftr"
        "navegacion productos"
        "navegacion productos"
        "pie productos";
    }


    /* ARREFLAR FTR PARA QUE SUBA AL LADO DEL ASIDE */
    .ftr{
        display:flex;
        flex-direction: column;
        /* grid-template-rows: calc(100% - 210px); */   /* ES NECESARIO ? */
    }
    aside {
        width: 30%;
        height: 100vh;
    }

    .navegacion {
        display: flex;
        flex-direction: column;

    }

    aside ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .as-nav .fa-bars {
        display: none;
    }
}

@media (min-width: 996px) {
    
}